<header>
  <nav class="navbar navbar-light first-nav">
    <div class="logo">
      <img src="../../../assets/images/Logo.svg" alt="Logo">
    </div>
  
    <div id="navbarContent">
      <ul class="navbar-nav ml-auto d-flex flex-row align-items-center">
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="$event.preventDefault();">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="$event.preventDefault();">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="$event.preventDefault();">CONTACT</a>
        </li>
        <li class="nav-item">
          <button class="nav-item-button">{{notLogin ? 'ENQUIRE' : 'LOGIN'}}</button>
        </li>
      </ul>
    </div>
  </nav>
</header>